@import "libs/normalize";
@import "libs/impress";
@import "libs/fontawesome";
@import "libs/mixins";
@import "libs/theme";

$displayWidth: 950px;
$iPadRatio: 185.7/650;
$iPhoneRatio: 58.6/650;

/* Intro steps ---------------------------------------------------------------------------------- */

#intro-1 {
    h1 {
        font-size: 85px;
        margin-bottom: 0;
        margin-left: 30px;
        margin-top: 30px;
    }
    h2 {
        margin-right: 30px;
        margin-top: 10px;
        text-align: right;
    }
    h3 {
        margin-left: 500px;
        margin-top: 120px;
    }
    h4 {
        margin-left: 500px;
        margin-top: 10px;
    }
    h5 {
        margin-left: 500px;
        margin-top: 30px;
    }
    .logotype {
        bottom: 100px;
        left: 540px;
        position: absolute;
        width: 300px;
    }
    .site-display {
        position: absolute;
        right: 700px;
        top: 400px;
        width: $displayWidth;
    }
    .site-ipad {
        @include transform-rotate(-5deg);

        position: absolute;
        right: 650px;
        top: 300px;
        width: ($displayWidth * $iPadRatio);
    }
    .site-iphone {
        @include transform-rotate(5deg);

        position: absolute;
        right: 610px;
        top: 500px;
        width: ($displayWidth * $iPhoneRatio);
    }
}

#intro-2 {
    .site-ipad {
        height: ($displayWidth * $iPadRatio) * 2;
        position: absolute;
        right: 150px;
        top: 100px;
    }
}

#intro-3 {
    .site-ipad {
        position: absolute;
        right: 40px;
        top: 30px;
        width: ($displayWidth * $iPadRatio) * 2;
    }
}

#intro-4 {
    .site-display {
        bottom: 0;
        left: 0;
        position: absolute;
        width: $displayWidth;
    }
}

#intro-5,
#intro-6,
#intro-7 {
    .site-iphone {
        position: absolute;
        right: 200px;
        top: 50px;
        width: ($displayWidth * $iPhoneRatio) * 4;
    }
}


#ignore-2-2,
#domain-2-3,
#app-2-3 {
    h2 {
        font-size: 100px;
    }
}

#app-7 {
    position: relative;
    .scale {
        color: $noteColor;
        position: absolute;
        right: 80px;
        top: 150px;
    }
    img {
        width: auto;
    }
}

#app-8,
#app-8-2,
#app-8-3,
#app-8-4 {
    .ballon-down {
        left: 200px;
        top: 100px;
        &.down2 {
            left: 500px;
        }
    }
    .ballon-up {
        left: 165px;
        top: 380px;
        &.up2 {
            left: 310px;
        }
        &.up3 {
            left: 495px;
        }
        &.up4 {
            left: 650px;
        }
        &.up5 {
            left: 402px;
            top: 505px;
        }
    }
}

#domain-3,
#domain-3-2,
#domain-3-3 {
    .left-image {
        @include border-radius(5px);

        border: 5px solid black;
        height: 664px;
        left: 40px;
        position: absolute;
        top: 40px;
    }
    .right-image {
        @include border-radius(5px);

        border: 5px solid black;
        height: 664px;
        right: 40px;
        position: absolute;
        top: 40px;
    }
}

#domain-3-3 {
    img {
        margin-top: -100px;
    }
}

#responsive-1-2,
#responsive-1-2-2 {
    .ballon-down {
        left: 500px;
        top: 100px;
    }
    .ballon-up {
        left: 20;
        top: 490px;
    }
}

#step-0-3 {
    .distribute-horizontal {
        margin-bottom: 30px;
    }
}

#step-0-3-2 {
    .ballon-down {
        left: 500px;
        top: 230px;
        &:first-child {
            left: 200px;
        }
    }
}

#step-0-2,
#step-0-2-2,
#step-0-2-3 {
    pre {
        margin-left: 300px;
    }
    .mobile {
        @include border-radius(10px);

        background: $boxColor;
        border: 5px solid $boxBorderColor;
        float: left;
        height: 470px;
        padding: 10px;
        width: 250px;
        .test1 {
            background-color: $alternateColor;
            height: 100px;
            width: 100%
        }

        .test2 {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;

            background-color: $alternateColor;
            height: 100px;
            width: 100%;

            border: 4px solid black;
            padding: 15px;
        }

        .test3 {
            background-color: $alternateColor;
            height: 100px;
            width: 100%;

            border: 4px solid black;
            padding: 15px;
        }
    }
}

#media-queries-3-2 {
    .box {
        height: 420px;
        padding: 130px;
        text-align: center;
        font-size: 100px;
    }
}
#media-queries-4 {
    pre {
        @include border-radius-bottom(0);

        border-bottom: 0;
    }
}

#media-queries-4-2 {
    pre {
        @include border-radius-top(0);

        border-top: 0;
    }
}

#media-queries-4-3 {
    pre {
        @include border-radius-bottom(0);

        border-bottom: 0;
    }
}

#media-queries-4-4 {
    pre {
        @include border-radius-top(0);

        border-top: 0;
    }
}

#challenges-1,
#challenges-1-2,
#challenges-1-3 {
    .ballon-down {
        top: 100px;
        left: 400px;
        &.down2 {
            left: 650px;
        }
    }
    .ballon-up {
        top: 400px;
        left: 600px;
        &.up2 {
            left: 150px;
        }
    }
}

#conclusions-1-2,
#conclusions-1-3 {
    .ballon-down {
        top: 100px;
        right: 20px;
    }
    .ballon-up {
        top: 400px;
        left: 20px;
    }
}

#conclusions-1-4,
#conclusions-1-5 {
    .ballon-down {
        top: 100px;
        left: 400px;
    }
    .ballon-up {
        top: 400px;
        left: 200px;
        &.up2 {
            left: 600px;
        }
    }
}

#thank-you-1 {
    h1 {
        font-size: 85px;
        margin-bottom: 0;
        margin-left: 30px;
        margin-top: 30px;
    }
    h2 {
        margin-right: 30px;
        margin-top: 10px;
        text-align: right;
    }
    h3 {
        margin-left: 500px;
        margin-top: 120px;
    }
    h4 {
        margin-left: 500px;
        margin-top: 10px;
    }
    h5 {
        margin-left: 500px;
        margin-top: 10px;
    }
    .logotype {
        bottom: 80px;
        left: 540px;
        position: absolute;
        width: 300px;
    }
    .site-display {
        top: 400px;
        right: 700px;
        position: absolute;
        width: $displayWidth;
    }
    .site-ipad {
        @include transform-rotate(-5deg);

        top: 300px;
        right: 650px;
        position: absolute;
        width: ($displayWidth * $iPadRatio);

    }
    .site-iphone {
        @include transform-rotate(5deg);

        top: 500px;
        right: 610px;
        position: absolute;
        width: ($displayWidth * $iPhoneRatio);
    }
}
