@import "../../../css/libs/mixins";

$alternateColor2: #0091bc;

#header > header,
#footer > footer,
.wrapper {
    max-width: 880px;
    width: 95%; // 880px
}

#header {
    padding: 20px 0;

    img {
        width: 120px;
    }

    h1 {
        float: left;
        margin-left: 130px;
    }
    nav {
        float: right;
    }
}

#content {
    padding: 60px 0;

    .content {
        border-right: 2px solid $alternateColor2;
        float: left;
        padding-right: 30px;
        width: percentage(546px / 880px);
    }

    aside {
        float: right;
        padding-left: 30px;
        width: percentage(334px / 880px);
    }
}
