    @media screen and (max-width: 599px) {
        .content {
            float: none;
            padding: 0 0 20px 0;
            width: 100%;
        }
        aside {
            float: none;
            padding: 20px 0 0 0;
            width: 100%;
        }
    }
}
